.row-article-page {
   display: flex;
   justify-content: space-between;
 }

 .article-nav {
   width: 270px;
   flex-shrink: 0;
   flex-grow: 0;
   padding-top: 10px;
 }

 .article-nav-title {
   color: #31405B;
   font-size: 28px;
   font-weight: 700;
   margin-bottom: 34px;
 }

 .article-nav-list {
   border-top: 1px solid #D6D9D8;
   font-size: 20px;

   li {
     border-bottom: 1px solid #D6D9D8;
   }

   a {
     display: block;
     padding-top: 14px;
     padding-bottom: 14px;
     color: #138ECE;
   }
 }

 .active a {
   color: #E04E4E;
   font-weight: 700;
 }

 .article-nav-list a:hover {
   text-decoration: underline;
 }

 .article-page {
   width: 771px;
   flex-shrink: 0;
   flex-grow: 0;
   color: #31405B;
   font-size: 20px;
   line-height: 1.6;

   h1, h2, h3, h4 {
     line-height: 1.6;
     margin-bottom: 15px;
     font-weight: 700;
   }

   h1 {
     margin-bottom: 40px;
     font-size: 54px;
     line-height: normal;
   }

   h2 {
     font-size: 32px;
   }

   h3 {
     font-size: 26px;
   }

   h4 {
     font-size: 22px;
   }

   img {
     display: block;
     margin: 40px 0 40px 0;
   }

   p {
     margin-bottom: 15px;

     a {
       text-decoration-line: underline;
       color: #138ECE;
     }
   }

   > *:last-child {
     margin-bottom: 0;
   }
 }
