.button {
   display: inline-block;
   height: 50px;
   border-radius: 50px;
   background-color: #0AC883;
   box-shadow: 0px 8px 20px 0px rgba(24, 219, 148, 0.35);
   padding: 0 40px;
   border: none;

   color: #FFF;
   line-height: 50px;
   text-align: center;
   font-size: 20px;
   font-weight: 700;
}