.contacts-header {
    margin-bottom: 40px;
  }

.contact-row {
display: flex;
justify-content: space-between;
align-items: flex-start;
}

.contact-info {
width: 470px;
color: #31405B;
}

.contact-block + .contact-block {
margin-top: 40px;
}

.contact-block-title {
font-size: 28px;
font-weight: 700;
margin-bottom: 20px;
}

.contact-block-body {
font-size: 20px;
line-height: 1.6;
}

.contact-list {
li {
    margin-bottom: 15px;
}

a {
    color: #138ece;
}
}

.contact-list-icon {
position: relative;
padding-left: 39px;
&:last-child {
    margin-bottom: 0;
}
&:before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 24px;
    height: 24px;
}
&.phone:before {
    background-image: url('../img/icons/phone.svg');
}
&.mail:before {
    background-image: url('../img/icons/mail.svg');
}
&.address:before {
    background-image: url('../img/icons/map-pin.svg');
}
}

.form {
padding: 40px;
width: 630px;
background: #FFF;
box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 0.25);
color: #31405B;
}

.form-title {
font-size: 28px;
font-weight: 700;
margin-bottom: 20px;
}

.form-group {
font-size: 18px;
margin-bottom: 30px;
&:last-of-type {
    margin-bottom: 35px;
}
}

.form-group-title {
font-size: 20px;
font-weight: 700;
margin-bottom: 15px;
}

.form-group-row {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
&:last-child {
    margin-bottom: 0;
}
> .input + .input {
    margin-left: 10px;
}
}

.input {
width: 100%;
padding-left: 20px;
padding-right: 20px;
height: 50px;
border-radius: 6px;
border: 1px solid #C0C0C0;
background: #EEE;
font-size: 18px;
&::placeholder {
    color: rgba(49, 64, 91, 0.5);
}
}
