.h1 {
   color: #000;
   font-size: 78px;
   font-weight: 700;
   line-height: 1;
}

.grad-border {
   display: inline;
   background-repeat: no-repeat;
   background-position: center bottom 15px;
   background-size: 100% 10px;
   background-image: linear-gradient(to right, #FBDC4D, #FBDC4D);
}