.slider {
   position: relative;
   padding-bottom: 54px;

   /* Mobile */
   @media (max-width: 899px) {
      padding-bottom: 44px;
   }
   &__arrow {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 54px;
      height: 54px;
      background: #F5F5F5;
      border-radius: 50%;
      transition: .3s;
      path {
         transition: .3s;
      }
      &:hover {
         background-color: #00c470;;
      }
      &:hover path {
         stroke: white;
      }
      &--left {
         top: 53px;
         left: -46px;
         transform: translateX(-100%);
         @media (max-width: 949px) {
            left: -30px;
         }
      }
      &--right {
         top: 53px;
         right: -46px;
         transform: translateX(100%);
         @media (max-width: 949px) {
            right: -30px;
         }
      }

      /* Mobile XS */
      @media (max-width: 599px) {
         display: none;
      }
   }
   &__pagination {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
   }
   &__pagination-item {
      margin-right: 10px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #E1E1E1;
      &:last-child {
         margin-right: 0;
      }
      &--active {
         background: #00C470;
      }
   }
   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-text {
         padding: 0 5px;
         margin-bottom: 30px;
         text-align: center;
         color: #000;
         font-size: 18px;
         font-weight: 500;
         line-height: 2;
         p {
            margin-bottom: 15px;
            &:last-child {
               margin-bottom: 0;
            }
         }

         /* Tablet */
         @media (max-width: 1199px) {
            line-height: 1.5;
         }

         /* Mobile */
         @media (max-width: 899px) {
            font-size: 16px;
            padding: 0;
            margin-bottom: 20px;
         }

         /* Mobile XS */
         @media (max-width: 599px) {
            font-size: 14px;
         }
      }
      &-author {
         display: flex;
         align-items: center;
      }
      &-avatar {
         margin-right: 20px;
         width: 80px;
         height: 80px;
         border-radius: 50%;
         overflow: hidden;

         /* Mobile XS */
         @media (max-width: 599px) {
            margin-right: 10px;
            width: 60px;
            height: 60px;
         }
      }
      &-author-desc {
         font-size: 16px;
         font-weight: 500;

         /* Mobile XS */
         @media (max-width: 599px) {
            font-size: 14px;
         }
      }
      &-author-title {
         display: block;
         margin-bottom: 5px;
         color: #00C470;
      }
      &-author-name {
         display: block;
         color: $paragraphColor;
         line-height: normal;
      }
   }
}