.contacts {
   padding-top: 70px;
   padding-bottom: 92px;
   background: linear-gradient(0deg, #F5FBFF 0%, #F5FBFF 100%), #F4F8F9;
   .section-title {
      margin-bottom: 60px;
   }
   &__content {
      display: flex;
      justify-content: space-between;
   }
   &__info {
      width: 501px;
   }
   &-list {
      font-size: 22px;
      margin-bottom: 34px;
      &__item {
         display: flex;
         margin-bottom: 22px;
         &:last-child {
            margin-bottom: 0;
         }
         span {
            min-width: 188px;
            font-weight: 600;
            line-height: 1.6;
         }
      }
   }
   .page-link {
      color: #1A71D2;
      font-size: 22px;
      font-weight: 400;
      line-height: 1.6;
   }
   &__text {
      position: relative;
      width: 538px;
      p {
         font-size: 18px;
         font-weight: 400;
         line-height: 1.6;
      }
      img {
         position: absolute;
         top: -115px;
         right: -109px;
      }
   }
}