.header {
   padding-top: 60px;
   padding-bottom: 82px;
   &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__menu {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.3;
      ul {
         display: flex;
         column-gap: 100px;
      }
   }

   &-social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 25px;
   }
}