.portfolio {
   padding-top: 80px;
   padding-bottom: 90px;
   background: linear-gradient(0deg, #F5FBFF 0%, #F5FBFF 100%), #F4F8F9;
   &-section__title {
      margin-bottom: 65px;
   }
   &-cards {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      row-gap: 50px;
   }
}